TOOMUCH3D_HI3D_ROOT=/opt/Hi3D-Official
TOOMUCH3D_FIRST_STAGE_CHECKPOINT=/opt/Hi3D-Official/ckpts/first_stage.pt
TOOMUCH3D_SECOND_STAGE_CHECKPOINT=/opt/Hi3D-Official/ckpts/second_stage.pt
TOOMUCH3D_CUDA_DEVICE=0
TOOMUCH3D_DATA_DIR=./data
